// Import Google fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Work+Sans:400,700&display=swap');

// Define fonts for body and headers
$body-font: "Work Sans", "Helvetica", "sans-serif";
$headers-font: "Nunito", "Helvetica", "sans-serif";

// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";


@font-face {
  font-family: 'Gunter';
  src: font-url('Gunter-Regular.eot');
  src: local('Gunter Regular'), local('Gunter-Regular'),
    font-url('Gunter-Regular.eot?#iefix') format('embedded-opentype'),
    font-url('Gunter-Regular.woff2') format('woff2'),
    font-url('Gunter-Regular.woff') format('woff'),
    font-url('Gunter-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

$gunter: "Gunter";


@font-face {
  font-family: 'The Californication';
  src: url('The Californication.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


$californication: "The Californication";


@font-face {
  font-family: 'Plus Jakarta Sans';
  src: url('PlusJakartaSans-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


$jakarta: "Plus Jakarta Sans";
