// Specific CSS for your home-page


.home {
  color: #DA591B;
  display: flex;
  flex-direction: column;
  align-items: center;
};

.h1 {
  font-family: 'Gunter';
  font-style: normal;
  font-weight: 400;
  font-size: 104px;
  line-height: 125px;
  /* identical to box height */

  text-align: center;

}

.h3 {
  font-family: 'The Californication';
  font-style: normal;
  font-weight: 400;
  font-size: 67px;
  line-height: 600px;
  /* identical to box height */

  text-align: center;

}
