<div class="home">
  <div class="main">

    <div class="header">
      <%= link_to "BRYLLUP", root_path %>
      <%= link_to "ØNSKELISTE", liste_path %>
    </div>


    <div class="wrapper">
      <div class="h1" style="margin-bottom: 4lvh;">
        Vi skal giftes!
      </div>

      <div class="h3">
        - Andreas & Signe -
      </div>


      <div id="carousel" class="carousel slide carousel-fade" data-bs-ride="carousel" style="height: 344px; margin-top: 4lvh;">
        <div class="carousel-inner">
           <div class="carousel-item active">
            <img src="https://res.cloudinary.com/dfzylc7wo/image/upload/v1685783398/Bryllup/Signe_Andreas_1_mekwo3.png" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://res.cloudinary.com/dfzylc7wo/image/upload/v1685783397/Bryllup/Signe_Andreas_2_nspdjm.png" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://res.cloudinary.com/dfzylc7wo/image/upload/v1685783397/Bryllup/Signe_Andreas_3_vzblxg.png" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://res.cloudinary.com/dfzylc7wo/image/upload/v1685783398/Bryllup/Signe_Andreas_4_bhh9af.png" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://res.cloudinary.com/dfzylc7wo/image/upload/v1685783398/Bryllup/Signe_Andreas_5_m5ejwg.png" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://res.cloudinary.com/dfzylc7wo/image/upload/v1685783398/Bryllup/Signe_Andreas_6_uwdqkj.png" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://res.cloudinary.com/dfzylc7wo/image/upload/v1685783398/Bryllup/Signe_Andreas_7_cdo3lp.png" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://res.cloudinary.com/dfzylc7wo/image/upload/v1685783398/Bryllup/Signe_Andreas_8_gy0ozi.png" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://res.cloudinary.com/dfzylc7wo/image/upload/v1685783398/Bryllup/Signe_Andreas_9_nzxjwi.png" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://res.cloudinary.com/dfzylc7wo/image/upload/v1685783398/Bryllup/Signe_Andreas_10_m7mqjl.png" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://res.cloudinary.com/dfzylc7wo/image/upload/v1685783398/Bryllup/Signe_Andreas_11_piqcub.png" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://res.cloudinary.com/dfzylc7wo/image/upload/v1685783398/Bryllup/Signe_Andreas_12_udk30o.png" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://res.cloudinary.com/dfzylc7wo/image/upload/v1685783399/Bryllup/Signe_Andreas_13_ellge6.png" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://res.cloudinary.com/dfzylc7wo/image/upload/v1685783399/Bryllup/Signe_Andreas_14_tkzp7i.png" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://res.cloudinary.com/dfzylc7wo/image/upload/v1685783399/Bryllup/Signe_Andreas_15_zbgjmi.png" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

           <!-- Button trigger modal -->
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop" style="background: #DA591B; border-color: #DA591B; margin-bottom: 4lvh;">
        Ser vi dig?
      </button>

    </div>

  </div>

  <div class="info">
    <div class="tekst"> Vi vil gerne invitere dig til vores kærlighedsfest d. 02.09.23, hvor vi vil danse til den lyse morgen!
    Vi kan ikke vente med at dele denne særlige dag med vores nærmeste venner og familie, og håber, at du vil være med til at gøre dagen endnu mere mindeværdig.
    Vi glæder os til at se dig!
    </div>
    <div class="italic">
    Andreas & Signe
    </div>
  </div>

  <div class="container" style="max-width: 100lvw; margin: 0; padding: 0;">

    <div class="row" style="width: 100lvw; margin-left: 0;">

      <div class="vielsen col-12 col-md-6">
        <h2>Vielsen</h2>
        <div class="italic">
        Kl. 13:00
        </div>
        <div class="italic">
        Københavns Rådhus
        </div>
        <div class="tekst">
        I er velkomne til at være med når vi bliver viet på Københavns rådhus. Vi vil efterfølgende skåle i deres tilhørende gårdhave, inden vi fortsætter fejringen ud til Roklubben.
        </div>
      </div>

      <div class="festen col-12 col-md-6">
        <h2>Festen</h2>
        <div class="italic">
        Kl. 15:00
        </div>
        <div class="italic">
        Bryggens Roklub
        </div>
        <div class="tekst">
        Aftenens festligheder med reception, middag og dansegulv vil foregå i Bryggens roklub på adressen: Rundholtsvej 95, 2300 Kbh
        </div>
      </div>

    </div>

    <div class="row" style="width: 100lvw; margin-left: 0;">

      <div class="indslag col-12 col-md-6">
        <h2>Indslag</h2>
        <div class="italic">
          Indslag er velkomne
        </div>
        <div class="tekst">
          Hvis I har indslag, kan I koordinere med vores søde toastmaster Daniel på tlf 26 24 85 46
        </div>
      </div>

      <div class="dresscode col-12 col-md-6">
        <h2>Dresscode</h2>
        <div class="italic">
          Det er havefest, men dress to impress!
        </div>
        <div class="tekst">
          Ps. Medbring evt. badetøj og et håndklæde da der er mulighed for en dukkert og en tur i sauna.
        </div>
      </div>

    </div>

  </div>

  <div class="footer">

    <div class="italic">
      02. september 2023 | Bryggens Roklub
    </div>

    <div class="h2">
      Vi glæder os til at fejre vores store dag med dig!
    </div>


        <!-- Button trigger modal -->
    <div>
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop" style="background: #DA591B; border-color: #DA591B;">
        Besvar Invitationen
      </button>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="staticBackdropLabel">Tilmelding til Andreas' og Signes bryllup</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>


          <div class="modal-body">
              <!-- Form -->
              <form action="https://formsubmit.co/3c92646439654799c58fa8ee4b614e37" method="POST">
                <!-- Honeypot -->
                <input type="text" name="_honey" style="display: none;">

                <!-- Disable Captcha -->
                <input type="hidden" name="_captcha" value="false">

                <input type= "hidden" name="_next" value="http://www.signeogandreas/succes">

                <div class="mb-3">
                  <label for="navn" class="form-label">Dit navn</label>
                  <input type="text" class="form-control" id="navn" name="navn" required>
                </div>

                <div class="mb-3">
                  <label for="partner" class="form-label">Navn på din +1</label>
                  <input type="text" class="form-control" id="partner" name="partner">
                </div>

                <div class="mb-3">
                  <label for="bemærkninger" class="form-label">Bemærkninger</label>
                  <textarea class="form-control" id="bemærkninger" name="bemærkninger" rows="4"></textarea>
                </div>

                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Tilbage</button>
                  <button type="submit" class="btn btn-primary" style="background: #DA591B; border-color: #DA591B;">Tilmeld</button>
                </div>

              </form>

          </div>

        </div>

      </div>

    </div>

  </div>


</div>
