<div class="home">
  <div class="main">
    <div class="header">
    <p>Bryllupet</p>
    <p>Ønskeliste</p>
    </div>
    <div class="tilmeld">
    ser vi dig?
    </div>
    <div class="h1">
    Vi skal giftes!
    </div>
    <div class="h3">- Andreas & Signe -
    </div>
      <div class="carousel">
      </div>
  </div>

  <div class="info">
    <div class="tekst"> Vi vil gerne invitere dig til vores kærlighedsfest d. 02.09.23, hvor vi vil danse til den lyse morgen og fejre vores kærlighed til hinanden! Vi kan ikke vente med at dele denne særlige dag med vores nærmeste venner og familie, og håber, at du vil være med til at gøre dagen endnu mere mindeværdig.
    Vi glæder os til at se dig!
    </div>
    <div class="italic">
    Andreas & Signe
    </div>
  </div>

  <div class="box-1">

    <div class="vielsen">
      <h2>Vielsen</h2>
      <div class="italic">
      Kl. 13:00
      Københavns Rådhus
      </div>
      <div class="tekst">
      I er velkomne til at være med når vi bliver viet på Københavns rådhus. Vi vil efterfølgende skåle i deres tilhørende gårdhave, inden vi fortsætter fejringen ud til Roklubben.
      </div>
    </div>

    <div class="festen">
      <h2>Festen</h2>
      <div class="italic">
      Kl. 15:00
      Bryggens Roklub
      </div>
      <div class="tekst">
      Aftenens festligheder med reception, middag og dansegulv vil foregå i Bryggens roklub på adressen: Rundholtsvej 95, 2300 Kbh
      </div>
    </div>

  </div>

  <div class="box-2">

    <div class="indslag">
      <h2>Indslag</h2>
      <div class="italic">
        Indslag er velkomne
      </div>
      <div class="tekst">
        Hvis I har indslag, kan I koordinere med vores søde toastmaster, Simon på tlf xx xx xx xx
      </div>
    </div>

    <div class="dresscode">
      <h2>Dresscode</h2>
      <div class="italic">
        Dress to impress!
      </div>
      <div class="tekst">
        Ps. Medbring evt. badetøj og et håndklæde da der er mulighed for en dukkert og en tur i sauna.
      </div>
    </div>

  </div>

  <div class="footer">
    <div class="italic">
      02. september 2023 Bryggens Roklub
    </div>
    <h2>Vi glæder os til at fejre vores store dag med dig!</h2>
  </div>

</div>
