<div class="home">

  <div class="bryllup">
    <div class="header">
      <%= link_to "Bryllup", root_path %>
      <%= link_to "Ønskeliste", liste_path %>
    </div>

    <div class="wrapper">
      <div class="h3">
        Din tilstedeværelse er nok!
      </div>

      <div class="tekst">
        Men for de af jer der alligevel ønsker at give os en gave eller bidrage til vores bryllupsrejse budget, er vi naturligvis meget taknemmelige.
      </div>
    </div>

  </div>

  <div class="ønsker">
    <div class="italic">
      Ønsker til inspiration
    </div>

    <div class="ønskeliste">
      <ul>
        <li>Restaurantbesøg</li>
        <li>Penge til ny seng</li>
        <li>Penge til bryllupsrejse</li>
        <li>Lækkert sengetøj</li>
        <li>Håndklæder</li>
        <li>Duge</li>
        <li>Kunst</li>
        <li>Autostol til bil (alder +2 år)</li>
        <li>Spa ophold</li>
        <li>Kro ophold</li>
        <li>Oplevelser</li>
      </ul>
    </div>

  </div>

  <div class="footer">
    <div class="italic">
      02. september 2023 Bryggens Roklub
    </div>
    <h2>Vi glæder os til at fejre vores store dag med dig!</h2>
  </div>


</div>
