<div class="home">
  <div class="succes">
    <div class="header">
      <%= link_to "BRYLLUP", root_path %>
      <%= link_to "ØNSKELISTE", liste_path %>
    </div>

    <div class="h1">
     Jubiii!
    </div>

    <div class="tekst">
    Vi glæder os SÅ meget til at se jer!
    </div>

    <div class="gif">
      <%= image_tag('dans.gif') %>
    </div>

    <%= link_to "TILBAGE", root_path, class: "btn btn-primary", style:"background: #F1EAB8; border-color: #F1EAB8; margin-bottom: 4lvh;"%>
  </div>


</div>
