.box {
  display: flex;
  display: grid;

  @media(max-width: 992px) {
    .box {
      grid-template-columns: 1fr 1fr;
    }
  }

  @media(max-width: 768px) {
    .box {
      grid-template-columns: 1fr;
    }
  }


}
