.btn {
  width: 262px !important;
  padding: 0.475rem !important;
}


@media(max-width: 500000px) {
  .btn {
    margin-top: 7lvh;
  }
}

@media(max-width: 1600px) {
  .btn {
    margin-top: 6lvh;
  }
}

@media(max-width: 768px) {
  .btn {
    margin-top: 5lvh;
  }
}
