.container h2 {

  font-family: 'Gunter';
  font-style: normal;
  font-weight: 400;
  font-size: 57px;
  line-height: 60px;

  margin-bottom: 2lvh;
}

.container .h3 {
  font-family: 'The Californication';
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 28px;


  color: #361A06 !important;
}


@media(max-width: 500000px) {
  .container .h3 {
    font-size: 45px !important;
  }
}

@media(max-width: 1600px) {
  .container .h3 {
    font-size: 35px !important;
  }
}

@media(max-width: 768px) {
  .container .h3 {
    font-size: 30px !important;
  }
}

.container .tekst {
  font-family: 'Plus Jakarta Sans';
  line-height: 35px;
  margin-bottom: 5lvh;
  /* or 159% */

  text-align: center;

  /* Style */
  margin-top: 1lvh;
  color: #361A06 !important;
}


@media(max-width: 500000px) {
  .container .tekst {
    width: 25lvw;
    font-size: 20px;
  }
}

@media(max-width: 1600px) {
  .container .tekst {
    width: 35lvw;
    font-size: 19px;
  }
}

@media(max-width: 768px) {
  .container .tekst {
    width: 75lvw;
    font-size: 16px;
  }
}
