.dresscode {
  width: 100%;
  height: 570px;

  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  /* #F1EAB8 */

  background: #F1EAB8;
}

.dresscode > .tekst {
  width: 500px;
  height: 162px;
  left: calc(50% - 500px/2 - 360px);
  top: 359.22px;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  text-align: center;

  /* Style */

  color: #361A06;

}

@media(max-width: 500000px) {
  .dresscode > .tekst {
    width: 15lvw;
  }
}

@media(max-width: 1600px) {
  .dresscode > .tekst {
    width: 35lvw;
  }
}

@media(max-width: 768px) {
  .dresscode > .tekst {
    width: 75lvw;
  }
}
