
.festen {
  width: 100%;

  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  /* #C6B9D5 */

  background: #C6B9D5;
}


@media(max-width: 500000px) {
  .festen {
    height: 720px;
  }
}

@media(max-width: 1600px) {
  .festen {
    height: 720px;
  }
}

@media(max-width: 768px) {
  .festen  {
    height: 100lvh;
  }
}

.festen > .tekst {
  width: 500px;
  height: 162px;
  left: calc(50% - 500px/2 - 360px);
  top: 359.22px;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  text-align: center;

  /* Style */

  color: #361A06;

}

@media(max-width: 500000px) {
  .festen > .tekst {
    width: 15lvw;
  }
}

@media(max-width: 1600px) {
  .festen > .tekst {
    width: 35lvw;
  }
}

@media(max-width: 768px) {
  .festen > .tekst {
    width: 75lvw;
  }
}
