.footer {
  width: 100%;
  height: 544px;

  /* #C6B9D5 */

  background: #C6B9D5;
  border-radius: 0px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer h2 {
  margin-bottom: 4lvh;
}


@media(max-width: 500000px) {
  .footer > h2 {
    width: 35lvw;
  }
}

@media(max-width: 1600px) {
  .footer > h2 {
    width: 45lvw;
  }
}

@media(max-width: 768px) {
  .footer > h2 {
    width: 75lvw;
  }
}


.footer .italic {
  font-family: 'The Californication';
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 45px;

  margin-bottom: 1lvh;
}


@media(max-width: 500000px) {
  .footer .italic {
    font-size: 40px !important;
  }
}

@media(max-width: 1600px) {
  .footer .italic {
    font-size: 35px !important;
  }
}

@media(max-width: 768px) {
  .footer .italic {
    font-size: 30px !important;
  }
}
