.indslag{
  width: 100%;
  height: 570px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  /* #F3EEEA */

  background: #F3EEEA;
}

.indslag > .tekst {
  width: 500px;
  height: 162px;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  text-align: center;

  /* Style */

  color: #361A06;

}


@media(max-width: 500000px) {
  .indslag > .tekst {
    width: 15lvw;
  }
}

@media(max-width: 768px) {
  .indslag > .tekst {
    width: 75lvw;
  }
}
