.info {
  width: 100%;

  background: $rosa;
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: visible;
  box-sizing: content-box !important;
}

@media(max-width: 500000px) {
  .info {
  height: 642px;
}
}

@media(max-width: 1600px) {
  .info {
    height: 642px;
  }
}

@media(max-width: 768px) {
  .info  {
    height: 100lvh;
  }
}

.info h2 {

  font-family: 'Gunter';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 60px;

  margin-bottom: 2lvh;
}

.info > .tekst {
  font-family: 'Plus Jakarta Sans';
  font-size: 20px;
  line-height: 35px;
  margin-bottom: 5lvh;
  /* or 159% */

  text-align: center;

  /* Style */

  color: #DA591B;
}

@media(max-width: 500000px) {
  .info > .tekst {
    width: 25lvw;
    font-size: 20px;
  }
}

@media(max-width: 1600px) {
  .info > .tekst {
    width: 45lvw;
    font-size: 19px;
  }
}

@media(max-width: 768px) {
  .info > .tekst {
    width: 75lvw;
    font-size: 16px;
  }
}


.info > .italic {
  height: 35px;

  font-family: 'The Californication';
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 35px;
  /* identical to box height, or 103% */

  text-align: center;

  /* Style */

  color: #361A06;


  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}
