.info {
  width: 100%;
  height: 528px;

  background: $rosa;
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info > .tekst {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 35px;
  margin-bottom: 5lvh;
  /* or 159% */

  text-align: center;

  /* Style */

  color: #361A06;


  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

@media(max-width: 500000px) {
  .info > .tekst {
    width: 15lvw;
  }
}

@media(max-width: 768px) {
  .info > .tekst {
    width: 75lvw;
  }
}


.info > .italic {
  height: 35px;

  font-family: 'The Californication';
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 35px;
  /* identical to box height, or 103% */

  text-align: center;

  /* Style */

  color: #361A06;


  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}
