.info {
  width: 1440px;
  height: 528px;
  top: 937px;

  background: $rosa;
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info > .tekst {
  width: 902px;
  height: 210px;
  left: calc(50% - 480px/2);
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 35px;
  /* or 159% */

  text-align: center;

  /* Style */

  color: #361A06;


  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.info > .italic {
  width: 835px;
  height: 35px;

  font-family: 'The Californication';
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 35px;
  /* identical to box height, or 103% */

  text-align: center;

  /* Style */

  color: #361A06;


  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}
