.main {
  background-color: $gul;
  width: 100lvw;
  top: 0px;
}

  @media(max-width: 500000px) {
    .main #carousel {
      width: 548px;
    }
  }

  @media(max-width: 768px) {
    .main #carousel {
      width: 90lvw;
    }
  }


  @media(max-width: 500000px) {
    .main {
    height: 753px;
  }
  }

  @media(max-width: 1600px) {
    .main {
      height: 753px;
    }
  }

  @media(max-width: 768px) {
    .main  {
      height: 100lvh;
    }
  }
