.main {
  background-color: $gul;
  width: 100lvw;
  top: 0px;
}

  // @media(max-width: 500000px) {
  //   .main {
  //     height: 1050px;
  //   }
  // }

  // @media(max-width: 1400px) {
  //   .main {
  //     height: 1050px;
  //   }
  // }

  // @media(max-width: 768px) {
  //   .main {
  //     height: 853px;
  //   }
  // }
