.succes {
  background-color: #DA591B;
  height: 120lvh;
  width: 100lvw;
  color: #F1EAB8;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: content-box !important;
}


.succes > .tekst {
  font-family: 'Plus Jakarta Sans';
  font-size: 20px;
  line-height: 35px;
  margin-bottom: 5lvh;
  /* or 159% */

  text-align: center;

  /* Style */

  color: #F1EAB8;
}

@media(max-width: 500000px) {
  .succes > .tekst {
    width: 25lvw;
    font-size: 20px;
  }
}

@media(max-width: 1600px) {
  .succes > .tekst {
    width: 45lvw;
    font-size: 19px;
  }
}

@media(max-width: 768px) {
  .succes > .tekst {
    width: 75lvw;
    font-size: 16px;
  }
}
