.vielsen {
  width: 100%;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  /* #C6C95C */

  background: #C6C95C;
}

@media(max-width: 500000px) {
  .vielsen {
    height: 920px;
  }
}

@media(max-width: 1600px) {
  .vielsen {
    height: 820px;
  }
}

@media(max-width: 768px) {
  .vielsen  {
    height: 720px;
  }
}
