.ønsker{
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #361A06;
  background-color: $gul;
  width: 100%;
  height: 642px;
  left: calc(50% - 1440px/2);
  top: 0px;
}

.ønsker .italic {
  font-family: 'The Californication';
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 45px;

  margin-bottom: 2lvh;
}
